---
---

<h3 text-2xl>⚡Skills</h3>
<img
  w-full
  src="https://skillicons.dev/icons?perline=14&i=ae,arduino,astro,au,bash,blender,cpp,cloudflare,cmake,css,discord,docker,figma,gamemakerstudio,git,github,githubactions,html,js,linux,mastodon,md,misskey,mongodb,mysql,nextjs,nginx,nodejs,ps,php,planetscale,powershell,pr,py,pytorch,qt,raspberrypi,react,redis,sqlite,stackoverflow,supabase,svg,swift,tailwind,tauri,twitter,ts,unity,unreal,vercel,vite,vscode,vue,wordpress,workers"
  alt=""
/>
